In [1]:
import pandas as pd
data = pd.read_excel("Blue Chip Credit Dataset.xlsx")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10168 entries, 0 to 10167
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10168 non-null  int64
 1   Attrition_Flag            10168 non-null  object
 2   Customer_Age              10168 non-null  int64
 3   Gender                    10168 non-null  object
 4   Dependent_count           10168 non-null  int64
 5   Education_Level           10168 non-null  object
 6   Marital_Status            10168 non-null  object
 7   Income_Category           10168 non-null  object
 8   Card_Category             10168 non-null  object
 9   Months_on_book            10168 non-null  int64
 10  Total_Relationship_Count  10168 non-null  int64
 11  Months_Inactive_12_mon    10168 non-null  int64
 12  Contacts_Count_12_mon     10168 non-null  int64
 13  Credit_Limit              10168 non-null  float64
dtypes: float64(1), int64(7), object(6)
memory usage: 1.1+ MB

In [3]:
data.describe()

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit
count,1.016800e+04,10168.000000,10168.000000,10168.000000,10168.000000,10168.000000,10168.00000,10168.000000
mean,7.392792e+08,44.734264,2.345692,35.997443,3.809107,2.343725,2.44640,8572.029770
std,3.695261e+07,10.044976,1.298094,7.996655,1.558173,1.010794,1.10289,9040.872045
min,7.080821e+08,18.000000,0.000000,13.000000,1.000000,0.000000,0.00000,1438.300000
25%,7.130102e+08,40.000000,1.000000,32.000000,3.000000,2.000000,2.00000,2540.000000
50%,7.179516e+08,46.000000,2.000000,36.000000,4.000000,2.000000,2.00000,4511.500000
75%,7.732911e+08,51.000000,3.000000,40.000000,5.000000,3.000000,3.00000,10960.250000
max,8.283431e+08,73.000000,5.000000,56.000000,6.000000,6.000000,6.00000,34516.000000

In [5]:
data.Attrition_Flag.value_counts(normalize=True)

Existing Customer    0.784422
Attrited Customer    0.215578
Name: Attrition_Flag, dtype: float64

In [6]:
data.Gender.value_counts(normalize=True)

F    0.528619
M    0.471381
Name: Gender, dtype: float64

In [7]:
data.Education_Level.value_counts(normalize=True)

Graduate         0.289732
High School      0.187057
College          0.157750
Unknown          0.139064
Uneducated       0.137490
Post-Graduate    0.047404
Doctorate        0.041503
Name: Education_Level, dtype: float64

In [11]:
data.Marital_Status.value_counts(),data.Marital_Status.value_counts(normalize=True)

(Married     4463
 Single      4302
 Divorced     708
 Unknown      695
 Name: Marital_Status, dtype: int64,
 Married     0.438926
 Single      0.423092
 Divorced    0.069630
 Unknown     0.068352
 Name: Marital_Status, dtype: float64)

In [9]:
data.Income_Category.value_counts(normalize=True)

Less than $40K    0.390736
$40K - $60K       0.164929
$80K - $120K      0.141621
$60K - $80K       0.132179
Unknown           0.103757
$120K +           0.066778
Name: Income_Category, dtype: float64

In [10]:
data.Card_Category.value_counts(normalize=True)

Blue        0.917978
Silver      0.069138
Gold        0.010917
Platinum    0.001967
Name: Card_Category, dtype: float64